* {
  font-family: "Jost", sans-serif;
}
body {
  overflow-x: hidden;
  font-size: 18px;
}
.parallax {
  /* The image used */
  background-image: url("new.png");

  /* Set a specific height */
  min-height: 500px;
  width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-am-centered {
  margin: auto;
  max-width: 200px;
}

.progress-bar {
  background-color: #fa8128;
}

.link {
  color: black;
}
.link:hover {
  color: #ff4500;
}
